### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
#purchase_data.columns #needed to see column names
#Create variable to count unique screen names as number of players
num_players = len(purchase_data["SN"].unique())
#create dataframe
player_summary_df = pd.DataFrame({"Total Number of Players": [num_players]})
player_summary_df.head()

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#Set up variables for the data frame
num_items = len(purchase_data["Item ID"].unique())
count_purchID = len(purchase_data["Purchase ID"].unique())
avg_purch_price = sum(purchase_data["Price"])/count_purchID
tot_revenue = sum(purchase_data["Price"])

#create dataframe
Purch_Analysis_df = pd.DataFrame({"Number of Unique Items": [num_items],
                                  "Average Purchase Price": [avg_purch_price],
                                  "Total Number of Purchases": [count_purchID],
                                  "Total Revenue": [tot_revenue]})
#format
Purch_Analysis_df["Average Purchase Price"] = Purch_Analysis_df["Average Purchase Price"].map("${:,.2f}".format)
Purch_Analysis_df["Total Revenue"] = Purch_Analysis_df["Total Revenue"].map("${:,.2f}".format)
#display
Purch_Analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#set up variables for count and percentage of total by gender
male_players = len(purchase_data.loc[purchase_data["Gender"]=="Male"]["SN"].unique())
permale_players = male_players/num_players

female_players = len(purchase_data.loc[purchase_data["Gender"]=="Female"]["SN"].unique())
perfemale_players = female_players/num_players

other_players = len(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]["SN"].unique())
perother_players = other_players/num_players 
#set up list of dictionaries
Gender_demo = [{"Gender": "Male", "Total Count": male_players, "Percentage of Players": permale_players},
                {"Gender": "Female", "Total Count": female_players, "Percentage of Players": perfemale_players},
                {"Gender": "Other / Non-Disclosed", "Total Count": other_players, "Percentage of Players": perother_players}]
#Create dataframe
Gender_df = pd.DataFrame(Gender_demo)
#format
Gender_df["Percentage of Players"] = Gender_df["Percentage of Players"].map("{:.2%}".format)
#display
Gender_df

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#create needed variables
PurchBy_count_male= len(purchase_data.loc[purchase_data["Gender"]=="Male"]["Purchase ID"])
PurchBy_tot_male = purchase_data.loc[purchase_data["Gender"]=="Male"]["Price"].sum()
PurchBy_avgprice_male = PurchBy_tot_male/PurchBy_count_male
PurchBy_avgcostperperson_male = PurchBy_tot_male/male_players

PurchBy_count_female= len(purchase_data.loc[purchase_data["Gender"]=="Female"]["Purchase ID"])
PurchBy_tot_female = sum(purchase_data.loc[purchase_data["Gender"]=="Female"]["Price"])
PurchBy_avgprice_female = PurchBy_tot_female/PurchBy_count_female
PurchBy_avgcostperperson_female = PurchBy_tot_female/female_players

PurchBy_count_other= len(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]["Purchase ID"])
PurchBy_tot_other = sum(purchase_data.loc[purchase_data["Gender"]=="Other / Non-Disclosed"]["Price"])
PurchBy_avgprice_other = PurchBy_tot_other/PurchBy_count_other
PurchBy_avgcostperperson_other = PurchBy_tot_other/other_players

#set up list of dictionaries
PurchByGender = [{"Gender": "Male", "Purchase Count": PurchBy_count_male, "Average Purchase Price": PurchBy_avgprice_male, "Total Purchase Value": PurchBy_tot_male, "Avg. Total Purchase": PurchBy_avgcostperperson_male},
                {"Gender": "Female", "Purchase Count": PurchBy_count_female, "Average Purchase Price": PurchBy_avgprice_female, "Total Purchase Value": PurchBy_tot_female, "Avg. Total Purchase": PurchBy_avgcostperperson_female},
                {"Gender": "Other / Non-Disclosed", "Purchase Count": PurchBy_count_other, "Average Purchase Price": PurchBy_avgprice_other, "Total Purchase Value": PurchBy_tot_other, "Avg. Total Purchase": PurchBy_avgcostperperson_other}]
#create dataframe
PurchByGender_df = pd.DataFrame(PurchByGender)

#format and display
PurchByGender_df["Average Purchase Price"] = PurchByGender_df["Average Purchase Price"].map("${:,.2f}".format)
PurchByGender_df["Total Purchase Value"] = PurchByGender_df["Total Purchase Value"].map("${:,.2f}".format)
PurchByGender_df["Avg. Total Purchase"] = PurchByGender_df["Avg. Total Purchase"].map("${:,.2f}".format)
PurchByGender_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase
0,Male,652,$3.02,"$1,967.64",$4.07
1,Female,113,$3.20,$361.94,$4.47
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Since dealing with player counts, need a way to identify unique players and their ages. (Remove dup SN.)
age_df = purchase_data.drop_duplicates(['SN']) #drop people with more than one charge
#Bins are implied with expected output. Start with 0 and end of bin is 1 less than start of next bin since integers
bins = [0, 9, 14, 19, 24, 29, 34, 39, 200] 
#Group names are given.
group_names = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39", "40+"]
#Bin list must be one longer than group names, add arbitray upper limit?
#print(len(bins)) #must be one more than group_names
#print(len(group_names))
#create a "cut" and add the new age categories to the dataframe. Check that this is working.
age_df["Age Category"] = pd.cut(age_df["Age"], bins, labels = group_names, include_lowest=True)

#group by
age_df = age_df.groupby("Age Category")
#Create dictionary of lists (change in method from above setup. Practicing both ways.)
age_distro = {"Total Count": age_df["SN"].count(),
              "Percentage of Players": age_df["SN"].count()/age_df["SN"].count().sum()}
#Create dataframe
age_distro_df = pd.DataFrame(age_distro)
#format (only one value requires)
age_distro_df["Percentage of Players"] = age_distro_df["Percentage of Players"].map("{:.2%}".format)
#display
age_distro_df

<ipython-input-6-b2fbb18dbeeb>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  age_df["Age Category"] = pd.cut(age_df["Age"], bins, labels = group_names, include_lowest=True)

              Total Count Percentage of Players
Age Category
<10                    17                 2.95%
10-14                  22                 3.82%
15-19                 107                18.58%
20-24                 258                44.79%
25-29                  77                13.37%
30-34                  52                 9.03%
35-39                  31                 5.38%
40+                    12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#use original dataframe
age_purch = purchase_data
#same binning as the Age Demo above. But this time we are analyzing transactions, not players.
#duplicate screen names are ok.
age_purch["Age Category"] = pd.cut(age_purch["Age"], bins, labels = group_names, include_lowest=True)
age_purch = age_purch.groupby("Age Category")

#set up dictionary of lists
age_purch_df = {"Purchase Count": age_purch["Purchase ID"].count(),
             "Average Purchase Price": age_purch["Price"].sum()/age_purch["Purchase ID"].count(),
             "Total Purchase Value": age_purch["Price"].sum(), 
             "Avg. Total Purchase per Person": age_purch["Price"].sum()/age_df["SN"].count()}
#format experiment: testing whether formatting before creating dataframe has impact 
age_purch_df["Average Purchase Price"] = age_purch_df["Average Purchase Price"].map("${:,.2f}".format)
age_purch_df["Total Purchase Value"] = age_purch_df["Total Purchase Value"].map("${:,.2f}".format)
age_purch_df["Avg. Total Purchase per Person"] = age_purch_df["Avg. Total Purchase per Person"].map("${:,.2f}".format)
#Create dataframe
age_purch_df = pd.DataFrame(age_purch_df)
#print (prints ok with format experiment. order of format/dataframe creation may matter in other examples)
age_purch_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg. Total Purchase per Person
Age Category,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Groupby SN to group transactions with player
Spenders = purchase_data.groupby("SN")
#Create dictionary of lists with desired values
Spenders_df = {"Purchase Count": Spenders["Purchase ID"].count(),
               "Average Purchase Price": Spenders["Price"].mean(), 
                "Total Purchase Value": Spenders["Price"].sum()}
#Create the data frame
Spenders_df = pd.DataFrame(Spenders_df)

#Sort dataframe by Total Purchase Value (Descending)
Top_Spenders_df = Spenders_df.sort_values("Total Purchase Value", ascending=False)

#Format the data
Top_Spenders_df["Average Purchase Price"] = Top_Spenders_df["Average Purchase Price"].map("${:,.2f}".format)
Top_Spenders_df["Total Purchase Value"] = Top_Spenders_df["Total Purchase Value"].map("${:,.2f}".format)

#Display the frame
Top_Spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
#Retrieve desired columns
Items = purchase_data[["Item ID", "Item Name", "Price"]]

#GroupBy Item ID and Item Name
Items = Items.groupby(["Item ID", "Item Name"])
#Create dictionary of lists with desired values
Items_df = {"Purchase Count": Items["Item ID"].count(),
           "Average Item Price": Items["Price"].sum()/Items["Item ID"].count(),
           "Total Purchase Value": Items["Price"].sum()}

#Create frame for results
Items_df = pd.DataFrame(Items_df)
#Sort in descending order by Purchase Count
Items_df_sort = Items_df.sort_values("Purchase Count", ascending=False)

#format
Items_df_sort["Average Item Price"] = Items_df_sort["Average Item Price"].map("${:,.2f}".format)
Items_df_sort["Total Purchase Value"] = Items_df_sort["Total Purchase Value"].map("${:,.2f}".format)
#display
Items_df_sort.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#Sort above by Total Purchase Value (descending)
Profit_df = Items_df.sort_values("Total Purchase Value", ascending=False)
#Note: Had to add _sort to previous exercise to make table in Items_df retrievable without formatting creating an impact. 
#Apparently, re-calling a formatted dataset impacted the sort so that $9.99 came before $59.99. 
#This may be a string sort but want to further investigate, time permitting. (Confirmed in class.)

#format
Profit_df["Average Item Price"] = Profit_df["Average Item Price"].map("${:,.2f}".format)
Profit_df["Total Purchase Value"] = Profit_df["Total Purchase Value"].map("${:,.2f}".format)

#Display
Profit_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

In [11]:
##Observable Trends
# 1. There are 576 overall players in HeroesOfPymoli with purchase data, but the vast majority are male. 
#    There is an opportunity to improve marketing the game to females and those who identify as other.
#
# 2. On average, players age 35-39 spend more on items. Males have spent more total on in-game items. 
#    However, on average, females and those who identify as other spend more on in-game item purchases,
#    so it stands to reason that having more players from those categories may improve in-game purchasing.
#
# 3. Final Critic, Oathbreaker, Last Hope of the Breaking storm, Fiery Glass Crusader and Nirvana are
#    among the items that are both most popular and most profitable.